credentials:
  system:
    domainCredentials:
      - credentials:
          - x509ClientCert:
              scope: GLOBAL
              id: "{{ jenkins_docker_cloud_credentials_id }}"
              description: "Docker host mTLS client credential (from Vault)"
              clientKeySecret: |
                {{ _client_key_pem | indent(16) }}
              clientCertificate: |
                {{ _client_cert_pem | indent(16) }}
              serverCaCertificate: |
                {{ _ca_pem | indent(16) }}

jenkins:
  clouds:
    - docker:
        name: "{{ jenkins_docker_cloud_name }}"
        dockerApi:
          dockerHost:
            uri: "{{ jenkins_docker_cloud_docker_host_uri }}"
            credentialsId: "{{ jenkins_docker_cloud_credentials_id }}"
        templates:
          - labelString: "{{ jenkins_docker_cloud_agent_labels }}"
            connector: "attach"
            remoteFs: /home/jenkins/agent
            instanceCapStr: "{{ jenkins_docker_cloud_agent_instance_cap }}"
            dockerTemplateBase:
              image: "{{ jenkins_docker_cloud_agent_image }}"
{% if jenkins_docker_cloud_agent_network is defined %}
              network: "{{ jenkins_docker_cloud_agent_network }}"
{% endif %}
